.container {
  margin: 0, auto;
  width: 900px
}

h1 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.you {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(173, 216, 230, 0.555);
  border-right: 5px solid black;
}

.you p {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: rgb(18, 122, 219);
}


.coach {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: lightgoldenrodyellow;
  border-right: 5px solid black;
}

.coach p {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: rgb(235, 148, 19);
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background-color: rgba(46, 139, 86, 0.623);
  padding: 10px 16px;
  border-radius: 8px;
}